@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
:root {
  line-height: 1.5;
  font-weight: 400;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #101113;
}

body {
  font-family: "Poppins";
}